[submodule "module1\\module2"]
	path = module1\\module2
	url = C:\\Users\\mounika\\.rabit\\org\\autorabit.com-SPw2BQ\\scm\\ezcommit\\2547582EE4D90BBB3E163E60E1EF6A86\\2547582EE4D90BBB3E163E60E1EF6A86
